<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial('partials/head-stack') %>
  </head>

  <body class="<%= bodyClass %>">
    <%- partial('partials/navbar') %>

    <div class="container">
      <%- body %>
    </div>

    <%- partial('partials/js-stack') %>
  </body>
</html>
